figure {
  margin: 0; }

ol {
  -webkit-padding-start: 0; }

.nav-orange:hover {
  background-color: #eb4b2b; }

.nav-yellow:hover {
  background-color: #f4e832; }

.nav-green:hover {
  background-color: #3c8d41; }

.nav-blue:hover {
  background-color: #249dca; }

.nav-purple:hover {
  background-color: #EE82EE; }

.nav-red:hover {
  background-color: #DC143C; }

@font-face {
  font-family: 'Bebas Neue Regular';
  src: url("../fonts/bebas_neue/BebasNeueRegular.otf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Bebas Neue Bold';
  src: url("../fonts/bebas_neue/BebasNeueBold.otf");
  /* IE9 Compat Modes */ }
.keep-whitespace {
  white-space: pre; }

.center {
  text-align: center; }

.imgFigureLeft {
  float: left;
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-left: 0;
  width: 40%;
  overflow: hidden; }
  .imgFigureLeft img {
    width: 100%;
    height: auto; }

#A, #B, #C, #D {
  color: red;
  font-size: 2em;
  position: absolute; }

.normal-top-margin {
  margin-top: 1em;
  margin-bottom: 0em; }

.normal-margin {
  margin-top: 1em;
  margin-bottom: 1em; }

/* responsive iframes */
/* disabled since full size video isn't currently needed and site isn't responsive*/
/*
@include generateRatios(4,3); 
@include generateRatios(16,9); 
*/
.btnlink {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #0000EE;
  padding: 0;
  text-decoration: underline;
  font-family: inherit;
  font-size: inherit; }

/* snazzy background */
html {
  background: orange;
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; }

body {
  margin-top: 0;
  /* override default margin */
  margin-bottom: 0;
  overflow: visible; }

footer {
  background: #e6e6e6;
  color: black;
  text-align: center; }
  footer p {
    font-style: italic;
    margin-bottom: 0; }

img#banner {
  display: block;
  margin: auto;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 85%; }

#main {
  margin: 0 5%;
  font-size: 1.1em; }

#wrapper {
  background: rgba(255, 255, 255, 0.8);
  width: 960px;
  /*need width to center page content*/
  margin-left: auto;
  margin-right: auto; }

.triviaUserInfo {
  line-height: 2em;
  margin-bottom: 5px;
  text-align: center; }

/* apparently attributing sources w/ figcaptions is the way to go */
figure .pic {
  background: #c1c1c1;
  border: 1px solid #262626;
  display: table;
  /* for centering */
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  overflow: hidden; }
  figure .pic > img {
    width: 100%;
    /* for centering */ }
figure.quote {
  font-size: 1.6em;
  font-style: italic;
  text-align: center;
  margin-top: 1em; }
  figure.quote > figcaption {
    font-size: .6em; }
  figure.quote > blockquote {
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0; }
figure.thumbnail {
  display: inline-block;
  margin: 3px;
  position: relative; }
  figure.thumbnail:hover figcaption.popup {
    border: 4px solid #262626;
    /* #00ccff */
    left: 50px;
    position: absolute;
    top: -200px;
    text-align: center;
    display: initial;
    z-index: 1; }

figcaption.popup {
  background: #e1e1e1;
  padding: 10px;
  position: absolute;
  /* add a drop shadow to the frame */
  -webkit-box-shadow: 0 0 15px #A9A9A9;
  /* vendor prefixes */
  -moz-box-shadow: 0 0 15px #A9A9A9;
  box-shadow: 0 0 15px #A9A9A9;
  /* hide it until there is a hover */
  display: none; }

/* navigation bar */
nav {
  background: white;
  border-collapse: collapse;
  display: table;
  font: 1.5em 'Bebas Neue Regular';
  margin-bottom: 0;
  width: 100%; }
  nav ul {
    display: table-row;
    /* part of a series of rules to make the navbar stretch to fill its container */ }
  nav li {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: table-cell; }
  nav .current a {
    font-family: 'Bebas Neue Bold';
    font-size: 1.25em; }
  nav a {
    color: black;
    display: block;
    /*makes the whole area clickable and allows the specifying of width */
    font: bold sans-serif;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    /* removes underline on links */
    text-transform: uppercase; }
    nav a:visited {
      color: black; }

.trivia li {
  margin-bottom: 10px; }

.normal-table, table, tr, td {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  margin: auto; }

table a:hover {
  text-decoration: underline; }

td > img {
  display: block; }

th {
  background-color: white;
  border: 1px solid black; }

tr:nth-child(odd) {
  background-color: #80808030; }

/* trivia */
#mixNmatch {
  float: left; }

#mixNmatchPic {
  display: inline-block;
  /* wraps the div around content */
  position: relative; }

#A {
  top: 0;
  left: 2px; }

#B {
  top: 0;
  right: 2px; }

#C {
  bottom: 0;
  left: 2px; }

#D {
  bottom: 0;
  right: 2px; }

.block-pack div {
  display: inline-block; }

/*# sourceMappingURL=styles.css.map */
